# From https://help.github.com/en/articles/workflow-syntax-for-github-actions
# Find actions in
#  https://github.com/actions
#  https://github.com/features/actions

# https://github.com/marketplace/actions/setup-graalvm-environment


# Gradle check does not return error on test failures.
# This allows test report to be collected before checking for success

name: Build and Test
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build, test, and release
    runs-on: ubuntu-latest
    steps:
      - name: Install xxhash
        run: |
          sudo apt-get update
          sudo apt-get install xxhash

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '24'
          distribution: 'temurin'

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Allows sonar to collect blame information

      # From https://docs.sonarqube.org/latest/analysis/github-integration/
      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
        # v5.0.0
        with:
          validate-wrappers: true
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Run tests
        # sonar disabled waiting for something to come off https://community.sonarsource.com/t/error-when-running-sonar-task-with-gradle-9-0-0-rc-1/143857/1
        run: ./gradlew --configuration-cache check javadoc shadow -s -Pversion=${BUILD_LABEL//\//_}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          BUILD_LABEL: ${{ github.head_ref || github.ref_name }}

      - name: Test Report
        # This will fail to run if caused by (dependabot) PR
        uses: dorny/test-reporter@7b7927aa7da8b82e81e755810cb51f39941a2cc7
        # 2.2.0
        if: failure()    # run this step even if previous step failed
        with:
          name: Junit Tests            # Name of the check run which will be created
          path: build/test-results/**/*.xml # Path to test results
          reporter: java-junit         # Format of test results
